In [2]:
import tabula
!java -version

java version "17" 2021-09-14 LTS
Java(TM) SE Runtime Environment (build 17+35-LTS-2724)
Java HotSpot(TM) 64-Bit Server VM (build 17+35-LTS-2724, mixed mode, sharing)

In [5]:
pdf_path = 'https://github.com/NguyenDinhTiem/tabula-py-examples/raw/main/data/tables.pdf'

dfs = tabula.read_pdf(pdf_path, pages='1', lattice=True)
print(len(dfs))
dfs[0]

1

/Users/toanne/anaconda3/envs/aio2024_env/lib/python3.10/site-packages/tabula/io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

    Tên  Lớp  Điểm Trung Bình
0   Anh  10A              8.5
1  Bình  10B              7.2
2  Châu  10C              9.1

In [6]:
dfs = tabula.read_pdf(pdf_path, pages='2', stream=True)
print(len(dfs))
dfs[0]

1

/Users/toanne/anaconda3/envs/aio2024_env/lib/python3.10/site-packages/tabula/io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

   Tên  Tuổi Thành phố
0   An    22    Hà Nội
1  Cúc    25    TP HCM
2  Hoa    20   Đà Nẵng
3   Nụ    23   Cần Thơ

In [10]:
dfs = tabula.read_pdf(pdf_path, pages='3', stream=True)
dfs[0]

/Users/toanne/anaconda3/envs/aio2024_env/lib/python3.10/site-packages/tabula/io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
0     NaN  20/12/2024       08:00      101A
1    Toán         NaN         NaN       NaN
2     NaN  21/12/2024       09:00      102B
3     NaN         NaN       08:00      101A
4      Lý  22/12/2024         NaN       NaN
5     NaN         NaN       10:00      102B
6     NaN         NaN       08:00      101A
7     Hóa  23/12/2024         NaN       NaN
8     NaN         NaN       10:00      102B

In [11]:
df = dfs[0]
df['Môn học'].fillna(method='ffill', inplace=True)
df

/var/folders/r4/c8nky59j0bjc61kp571yryvh0000gp/T/ipykernel_29375/3747723900.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Môn học'].fillna(method='ffill', inplace=True)
/var/folders/r4/c8nky59j0bjc61kp571yryvh0000gp/T/ipykernel_29375/3747723900.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Môn học'].fillna(method='ffill', inplace=True)

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
0     NaN  20/12/2024       08:00      101A
1    Toán         NaN         NaN       NaN
2    Toán  21/12/2024       09:00      102B
3    Toán         NaN       08:00      101A
4      Lý  22/12/2024         NaN       NaN
5      Lý         NaN       10:00      102B
6      Lý         NaN       08:00      101A
7     Hóa  23/12/2024         NaN       NaN
8     Hóa         NaN       10:00      102B

In [12]:
df['Ngày thi'].fillna(method='ffill', inplace=True)
df

/var/folders/r4/c8nky59j0bjc61kp571yryvh0000gp/T/ipykernel_29375/1166528796.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Ngày thi'].fillna(method='ffill', inplace=True)

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
0     NaN  20/12/2024       08:00      101A
1    Toán  20/12/2024         NaN       NaN
2    Toán  21/12/2024       09:00      102B
3    Toán  21/12/2024       08:00      101A
4      Lý  22/12/2024         NaN       NaN
5      Lý  22/12/2024       10:00      102B
6      Lý  22/12/2024       08:00      101A
7     Hóa  23/12/2024         NaN       NaN
8     Hóa  23/12/2024       10:00      102B

In [14]:
df['Giờ bắt đầu'].fillna(method='ffill', inplace=True)
df['Phòng thi'].fillna(method='ffill', inplace=True)
df

/var/folders/r4/c8nky59j0bjc61kp571yryvh0000gp/T/ipykernel_29375/1288876113.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Giờ bắt đầu'].fillna(method='ffill', inplace=True)
/var/folders/r4/c8nky59j0bjc61kp571yryvh0000gp/T/ipykernel_29375/1288876113.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Phòng thi'].fillna(method='ffill', inplace=True)

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
0     NaN  20/12/2024       08:00      101A
1    Toán  20/12/2024       08:00      101A
2    Toán  21/12/2024       09:00      102B
3    Toán  21/12/2024       08:00      101A
4      Lý  22/12/2024       08:00      101A
5      Lý  22/12/2024       10:00      102B
6      Lý  22/12/2024       08:00      101A
7     Hóa  23/12/2024       08:00      101A
8     Hóa  23/12/2024       10:00      102B

In [15]:
df = df.drop([0, 3, 6])
df

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
1    Toán  20/12/2024       08:00      101A
2    Toán  21/12/2024       09:00      102B
4      Lý  22/12/2024       08:00      101A
5      Lý  22/12/2024       10:00      102B
7     Hóa  23/12/2024       08:00      101A
8     Hóa  23/12/2024       10:00      102B

# Extract table from paper YOLO

In [16]:
top = 0.88
left = 0.6
botton = 3.06
width = 4.09

# Convert inch to point pdf
loc = [i * 72 for i in [top, left, botton, width]]
loc

[63.36, 43.199999999999996, 220.32, 294.48]

In [18]:
pdf_path = 'https://arxiv.org/pdf/1506.02640.pdf'
dfs = tabula.read_pdf(pdf_path, pages='6', area=loc)
dfs[0]

/Users/toanne/anaconda3/envs/aio2024_env/lib/python3.10/site-packages/tabula/io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

        Real-Time Detectors      Train   mAP    FPS
0            100Hz DPM [31]       2007  16.0  100.0
1             30Hz DPM [31]       2007  26.1   30.0
2                 Fast YOLO  2007+2012  52.7  155.0
3                      YOLO  2007+2012  63.4   45.0
4       Less Than Real-Time        NaN   NaN    NaN
5          Fastest DPM [38]       2007  30.4   15.0
6        R-CNN Minus R [20]       2007  53.5    6.0
7           Fast R-CNN [14]  2007+2012  70.0    0.5
8   Faster R-CNN VGG-16[28]  2007+2012  73.2    7.0
9      Faster R-CNN ZF [28]  2007+2012  62.1   18.0
10              YOLO VGG-16  2007+2012  66.4   21.0